.continent {
  display:grid;
  grid-template-columns: [asie] 80px [europe] 80px [afrique] 80px [amerique] 80px [oceanie] 80px;
  grid-auto-rows: 55px;
  justify-items: center;
  align-items: center;
  grid-auto-flow: dense;
}

[data-continent="asie"]{
  grid-column: asie;
}

[data-continent="europe"]{
  grid-column: europe;
}

[data-continent="afrique"]{
  grid-column: afrique;
}

[data-continent="amerique"]{
  grid-column: amerique;
}

[data-continent="oceanie"]{
  grid-column: oceanie;
}
