.continent {
  display:grid;
  grid-template-columns: repeat(5, 80px);
  grid-auto-rows: 55px;
  justify-items: center;
  align-items: center;
  grid-auto-flow: dense;
}

[data-continent="asie"]{
  grid-column-start: 1;
}

[data-continent="europe"]{
  grid-column-start: 2;
}

[data-continent="afrique"]{
  grid-column-start: 3;
}

[data-continent="amerique"]{
  grid-column-start: 4;
}

[data-continent="oceanie"]{
  grid-column-start: 5;
}
